<h2>Bienvenido</h2>
<h4>User email: {{data.user.email}} </h4>
<h4>User rol: {{data.user.rol}} </h4>

<div class="accordion accordion-flush" id="productsAccordion">

  {{#each data.payload}}

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading{{id}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapse{{id}}" aria-expanded="false" aria-controls="flush-collapse{{id}}">
          Product Id: {{id}}. Product title: {{title}}
        </button>
      </h2>
      <div id="flush-collapse{{id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{id}}"
        data-bs-parent="#productsAccordion">
        <div class="accordion-body">
          <ul>
            <li>Description: {{description}}</li>
            <li>Price: ${{price}}</li>
            <li>Code: {{code}}</li>
            <li>Stock: {{stock}}</li>
            <li>
              {{#if status}}
              Status: Active
              {{else}}
              Status: Inactive
              {{/if}}
            </li>
            <li>Thumbnails: {{thumbnails}}</li>
          </ul>
        </div>
      </div>
    </div>

  {{/each}}

</div>