<nav aria-label="">
  <ul class="pagination">

    {{#if data.hasPrevPage}}
      <li class="page-item">
        <a class="page-link" href=" {{ data.prevPage }} ">Previous</a>
      </li>
    {{else}}
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
    {{/if}}

    <li class="page-item active" aria-current="page">
      <span class="page-link">{{ data.actualPage }}</span>
    </li>

    {{#if data.hasNextPage}}
      <li class="page-item">
        <a class="page-link" href=" {{ data.nextPage }} ">Next</a>
      </li>
    {{else}}
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
    {{/if}}

  </ul>
</nav>

<div class="accordion accordion-flush" id="productsAccordion">

<div class="accordion accordion-flush" id="productsAccordion"></div>
  {{#each data.payload}}

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading${product.id}">
        <div class="row">
          <div class="col-11">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse{{id}}" aria-expanded="false" aria-controls="flush-collapse{{id}}">
              Product Id: {{id}}. Product title: {{title}}
            </button>
          </div>
          <div class="col">
            <a href="/products/{{id}}">
              <button class="btn btn-info" id="infoProduct{{id}}"> 
                  <i class="fa-solid fa-info"></i>
              </button>
            </a>
          </div>
          <div class="col">
            <button class="btn btn-warning addToCartBtn" id="addCartProduct{{id}}" productId = "{{id}}" >
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
          </div>
        </div>
      </h2>
      <div id="flush-collapse{{id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{id}}"
        data-bs-parent="#productsAccordion">
        <div class="accordion-body">
          <ul>
            <li>Description: {{description}}</li>
            <li>Price: ${{price}}</li>
            <li>Code: {{code}}</li>
            <li>Stock: {{stock}}</li>
            <li>
              {{#if status}}
              Status: Active
              {{else}}
              Status: Inactive
              {{/if}}
            </li>
            <li>Thumbnails: {{thumbnails}}</li>
          </ul>
        </div>
      </div>
    </div>

  {{/each}}

</div>

<input type="hidden" id="userIdInput" value="{{data.user.cart}}">

<script src="/js/products.js"></script>