<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  {{!-- boostrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  {{!-- fontawesome --}}
  <script src="https://kit.fontawesome.com/fffaec1628.js" crossorigin="anonymous"></script>

  {{!-- sweetalert2 --}}
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  {{!-- costum style --}}
  {{!--
  <link rel="stylesheet" href="/public/style/{{style}}"> --}}

</head>

<body>

{{#if inSession}}
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Ecommerce Api</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/realtimeproducts">Real time products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/chat">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href ="/cart/{{data.user.cart}}">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href ="/cartsIds" id = "cartsNavBarSelec">verCartsIds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href ="/profile" id = "cartsNavBarSelec">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href ="/uploadDocuments" id = "cartsNavBarSelec">Upload documents</a>
          </li>
          {{#if data.isAdmin}}
            <li class="nav-item">
              <a class="nav-link active" href="/modifyUser" id="cartsNavBarSelec">Users</a>
            </li>
          {{else}}
            <li class="nav-item">
              <button id="premiumBtn">premium</button>
            </li>
          {{/if}}
          <li class="nav-item">
            <button id="logoutBtn"><i class="fa-solid fa-right-from-bracket"></i></button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{{/if}}

  {{!-- handlebars body --}}
  {{{body}}}


  {{!-- boostrap --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  
  {{!-- js --}}
  <script src="/js/index.js"></script>
</body>

</html>